Options -Indexes

# Block direct access to config
<Files "config.php">
    Order deny,allow
    Deny from all
</Files>

# PHP short tags
php_flag short_open_tag Off

# Security headers
Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "SAMEORIGIN"
